extend layout

block content
	h2(style="margin-bottom: 20px;") Books Collection

	div
		table.table.mydatatable.table-responsive.dataTable.no-footer(id="booksTable" role="grid" aria-describedby="booksTable_info" style="width: 826px;")
			thead.listTableHead
				tr(role="row")
					th(scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 89px;") Picture
					th(scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 400px;") Title
					th(scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 200px;") Genre
					th(scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 200px;") Author
					th(scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 200px;") Actions

			tbody
				each book in books
					tr(role="row")
						td.row1
							div.bookImg
								img(src=`/static/images/${book.cover}.png`, alt="", srcset="")
					
						td.row2
							div.bookTitle
								a(href="/books/" + book.id) #{book.title}
								p(style="font-size: 12px;") Page Count: #{book.pageCount}
						
						td.row3
							div.bookGenre
								h6 #{String(book.genre)[0].toUpperCase() + String(book.genre).slice(1)}					
						td.row4
							div.bookAuthor
								h6 #{book.author}
						td.row5
							div.bookButtons
								button(style="border: solid 5px blue !important;")
									a(href="/books/" + book.id + "/update").delete Update
								br
								br
								button(style="border: solid 5px red !important;")
									a(href="/books/" + book.id + "/delete").delete Delete
								br
								br
								if book.rented
									button(style="border: solid 5px green !important;")
										a(href="/books/" + book.id + "/return").delete Return
								else
									button(style="border: solid 5px yellow !important;")
										a(href="/books/" + book.id + "/rent").delete Rent

