extend layout

block content
    h2 Donate a book
    if show
        div.message(style="color:green;")  Your donation was successfully added.
    if error
        div.erro(style="color:red;") r Failed validation
  
    form(method="post" action="/donate")
        div
            label(for="title") Title
            br
            input(type="text" name="title" id="title")

        div
            label(for="author") Author
            br
            input(type="text" name="author" id="author")

        div.genre
            label(for="genre") Genre
            br
            
            each genre in ["adventure", "child", "detective", "drama", "fiction", "historical", "literature", "Romance"]
                input(type="radio" name="genre" value=genre)
                span #{genre[0].toUpperCase() + genre.slice(1)}

        div
            label(for="pageCount") Page Count
            br
            input(type="number" name="pageCount" id="pageCount" min="1" required)
        
        div.cover
            label(for="cover") Pick a Cover
            br
            
            each cover in ["option1", "option2", "option3", "option4", "option5", "option6", "option7", "option8", "option9", "option10", "option11", "option12"]
                input(type="radio" name="cover" value=cover)
                span Cover #{cover.slice(6)}
                if cover.slice(6) === "6"
                    br
        br
        div.photoRow
            div.photoColumn
                each cover in ["option1", "option2", "option3", "option4", "option5", "option6", "option7", "option8", "option9", "option10", "option11", "option12"]
                    img.coverImg(src=`/static/images/${cover}.png`, alt="", srcset="")

        div
            label(for="description") Description
            br
            textarea(name="description" id="description" rows="5")

        br
        div
            input(type="submit" value="Donate a book")