extend layout

block content
    h2 Update a Book
    if show
        div.message Book was successfully updated.
    if error
        div.error Failed validation
  
    form(method="post" action=`/books/${ book.id }/update`)
        div
            label(for="title") Title
            br
            input(type="text" name="title" id="title" value=book.title)

        div
            label(for="author") Author
            br
            input(type="text" name="author" id="author" value=book.author)

        div.genre
            label(for="genre") Genre
            br

            each genre in ["adventure", "child", "detective", "drama", "fiction", "historical", "literature", "Romance"]
                if book.genre === genre
                    input(type="radio" name="genre" value=`${genre}` checked) 
                else
                    input(type="radio" name="genre" value=genre)
                span #{genre[0].toUpperCase() + genre.slice(1)}

        div
            label(for="pageCount") Page Count
            br
            input(type="number" name="pageCount" id="pageCount" min="1" value=`${book.pageCount}` required)
        

        div.cover
            label(for="cover") Pick a Cover
            br

            each cover in ["option1", "option2", "option3", "option4", "option5", "option6", "option7", "option8", "option9", "option10", "option11", "option12"]
                if book.cover === cover
                    input(type="radio" name="cover" value=`${cover}` checked) 
                else
                    input(type="radio" name="cover" value=cover)
                span Cover #{cover.slice(6)}
                if cover.slice(6) === "6"
                    br

        div.photoRow
            div.photoColummn
            each cover in ["option1", "option2", "option3", "option4", "option5", "option6", "option7", "option8", "option9", "option10", "option11", "option12"]
                img(src=`/static/images/${book.cover}.png`, alt="", srcset="")
            

        div
            label.special(for="description") Description
            br
            textarea(name="description" id="description" rows="5") #{book.description}

        br
        div
            input(type="submit" value="Update a book")